<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylwoa.dao.ExcelDataMapper">
  <resultMap id="BaseResultMap" type="com.ylwoa.model.ExcelData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="excel_id" jdbcType="BIGINT" property="excelId" />
    <result column="excel_name" jdbcType="VARCHAR" property="excelName" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delete_flg" jdbcType="INTEGER" property="deleteFlg" />
    <result column="plan_start_date" jdbcType="DATE" property="planStartDate" />
    <result column="plan_end_date" jdbcType="DATE" property="planEndDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ylwoa.model.ExcelData">
    <result column="data_json" jdbcType="LONGVARCHAR" property="dataJson" />
  </resultMap>
  <sql id="Base_Column_List">
    id, excel_id, excel_name, version, status,delete_flg,plan_start_date,plan_end_date, create_time, create_user_id,
    create_user_name, update_time, update_user_id, update_user_name
  </sql>
  <sql id="Blob_Column_List">
    data_json
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from excel_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from excel_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ylwoa.model.ExcelData">
    insert into excel_data (id, excel_id, excel_name,
      version, status,delete_flg,plan_start_date,plan_end_date,
      create_time, create_user_id, create_user_name,
      update_time, update_user_id, update_user_name,
      data_json)
    values (#{id,jdbcType=BIGINT}, #{excelId,jdbcType=BIGINT}, #{excelName,jdbcType=VARCHAR},
      #{version,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},#{deleteFlg,jdbcType=INTEGER},
      #{planStartDate,jdbcType=DATE},#{planEndDate,jdbcType=DATE},
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{updateUserName,jdbcType=VARCHAR},
      #{dataJson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylwoa.model.ExcelData">
    insert into excel_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="excelId != null">
        excel_id,
      </if>
      <if test="excelName != null">
        excel_name,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleteFlg != null">
        delete_flg,
      </if>
      <if test="planStartDate != null">
        plan_start_date,
      </if>
      <if test="planEndDate != null">
        plan_end_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="dataJson != null">
        data_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="excelId != null">
        #{excelId,jdbcType=BIGINT},
      </if>
      <if test="excelName != null">
        #{excelName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteFlg != null">
        #{delete_flg,jdbcType=INTEGER},
      </if>
      <if test="planStartDate != null">
        #{plan_start_date,jdbcType=DATE},
      </if>
      <if test="planEndDate != null">
        #{plan_end_date,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="dataJson != null">
        #{dataJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylwoa.model.ExcelData">
    update excel_data
    <set>
      <if test="excelId != null">
        excel_id = #{excelId,jdbcType=BIGINT},
      </if>
      <if test="excelName != null">
        excel_name = #{excelName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteFlg != null">
        delete_flg = #{deleteFlg,jdbcType=INTEGER},
      </if>
      <if test="planStartDate != null">
        plan_start_date = #{planStartDate,jdbcType=DATE},
      </if>
      <if test="planEndDate != null">
        plan_end_date = #{planEndDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="dataJson != null">
        data_json = #{dataJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ylwoa.model.ExcelData">
    update excel_data
    set excel_id = #{excelId,jdbcType=BIGINT},
      excel_name = #{excelName,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      delete_flg = #{deleteFlg,jdbcType=INTEGER},
      plan_start_date = #{planStartDate,jdbcType=DATE},
      plan_end_date = #{planEndDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      data_json = #{dataJson,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylwoa.model.ExcelData">
    update excel_data
    set excel_id = #{excelId,jdbcType=BIGINT},
      excel_name = #{excelName,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      delete_flg = #{deleteFlg,jdbcType=INTEGER},
      plan_start_date = #{planStartDate,jdbcType=DATE},
      plan_end_date = #{planEndDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_user_name = #{updateUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>